<div class = "container">
  <div class="card m-3">
    <div class="card-body">
      <%= @question%>
    </div>
  </div>

  <div class="card m-3">
    <div class="card-body">
     <%= @answer%>
    </div>
  </div>

  <%= link_to "Ask again", ask_path %>
</div>
