<div class= "container p-3">
  <label for="question">Ask your coach anything: </label>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
    </form>
</div>
